/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --header-height: 3rem;

    --main-color: #2b2b2b;
    --main-color-dark: #1b1b1b;
    --main-color-light: #6a6a6a;
    --main-color-lighter: #9a9a9a;
    --text-color: #efefef;

    --body-font: 'Montserrat', sans-serif;
    --largest-font-size: 2.5rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1.125rem;
    --normal-size: 0.95rem;
    --small-size: 0.8rem;
    --smaller-size: 0.65rem;

    --font-medium: 400;
    --font-bold: 500;
    --font-large-bold: 700;

    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --margin-4: 2rem;
    --margin-5: 2.5rem;
    --margin-6: 3rem;

    --z-normal: 1;
    --z-tooltips: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --largest-font-size: 4.5rem;
        --h1-size: 2.25rem;
        --h2-size: 1.5rem;
        --h3-size: 1.25rem;
        --normal-size: 1rem;
        --small-size: 0.8rem;
        --smaller-size: 0.75rem;
    }
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-size);
    font-weight: var(--normal-size);
    background-color: var(--main-color-lighter);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h2, h3 {
    font-weight: var(--font-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-size);
    color: var(--text-color);
    margin-bottom: var(--margin-3);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-size);
    font-weight: var(--font-bold);
}

.bd-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.header-l {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--main-color);
}